src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ic-contact-sapi-main">
        <http:listener config-ref="ic-contact-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ic-contact-sapi-config" />
		<error-handler ref="Error_Handler" />
    </flow>
    <flow name="ic-contact-sapi-console">
        <http:listener config-ref="ic-contact-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ic-contact-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\contact\(id):application\json:ic-contact-sapi-config">
		<flow-ref doc:name="Ref update-contact-implementation-flow" doc:id="de3f956a-76d9-42ea-b70a-a8683613aa58" name="update-contact-implementation-flow"/>
    </flow>
    <flow name="delete:\contact\(id):ic-contact-sapi-config">
		<flow-ref doc:name="Ref delete-contact-implementation-flow" doc:id="45217ddd-852d-4324-8b4e-cc24a6c4c28f" name="delete-contact-implementation-flow"/>
    </flow>
    <flow name="get:\contact:ic-contact-sapi-config">
		<flow-ref doc:name="Ref get-all-contacts-implementation-flow" doc:id="fec07cda-b444-4147-8c82-a441e59a25b6" name="get-all-contacts-implementation-flow"/>
    </flow>
    <flow name="get:\contact\(id):ic-contact-sapi-config">
		<flow-ref doc:name="Ref get-contact-by-id-implementation-flow" doc:id="a8ea918b-3083-4529-a649-9b87a4f638f7" name="get-contact-by-id-implementation-flow"/>
    </flow>
    <flow name="post:\contact:application\json:ic-contact-sapi-config">
		<flow-ref doc:name="Ref create-contact-implementation-flow" doc:id="41c4c055-3744-4936-af7b-0d10ba381e50" name="create-contact-implementation-flow"/>
    </flow>
</mule>
